Body {
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  background-color: #bfeffc;
  font-family: 'Courier New', Courier, monospace;
}

.topnav {
  overflow: hidden;
  background-color: #0f4c7e;
}

.topnav a {
  float: middle;
  display: inline;
  color: #bcf2ff;
  text-align: center;
  text-decoration: none;
  font-size: 4vw;
  margin: 10px;
}

.topnav a:hover {
  background-color: #8584d6 ;
  color: rgb(0, 0, 0);
  font-family: 'Courier New', Courier, monospace;
}

#home {
  background-color: #8b53f1;
  color: rgb(0, 0, 0);
  font-family: 'Courier New', Courier, monospace;
}

#Games {
  background-color: #8b53f1;
  color: black;
  font-family: 'Courier New', Courier, monospace;
}

#Music {
  background-color: #8b53f1;
  color: black;
  font-family: 'Courier New', Courier, monospace;
}

#Art {
  background-color: #8b53f1;
  color: black;
  font-family: 'Courier New', Courier, monospace;
}

#Boardgames {
  background-color: #8b53f1;
  color: black;
  font-family: 'Courier New', Courier, monospace;
}

#Sounds {
  background-color: #8b53f1;
  color: black;
  font-family: 'Courier New', Courier, monospace;
}

#resume {
  background-color: #8b53f1;
  color: black;
  font-family: 'Courier New', Courier, monospace;
}

#Contact {
  background-color: #8b53f1;
  color: black;
  font-family: 'Courier New', Courier, monospace;
}

#Aboutme {
  background-color: #8b53f1;
  color: black;
  font-family: 'Courier New', Courier, monospace;
}

.home {
  Height: auto;
  Width: 100%
}

.Apollyon {
  Float: Left;
  Height: auto;
  width: 30%
}

.audio {
  Height: auto;
  width: 100%
}

.Art {
  Height: Auto;
  width: 100%
}

.resume {
  height: auto;
  width: 100%
}

.Ap {
  height:auto;
  Width: 100%
}

.descAp {
  Font-size: 2vw;
  float: center;
}

.bready {
  Float: Right;
  Height: auto;
  width:40%
}

.descbred {
  Font-size: 2vw;
  Float: Center
}
