

Body {
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  background-color: #bfeffc;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #0f4c7e;
}

/* Style the topnav links */
.topnav a {
  float: middle;
  display: inline;
  color: #bcf2ff;
  text-align: center;
  text-decoration: none;
  font-size: xx-large;
  margin: 10px;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #8584d6 ;
  color: rgb(0, 0, 0);
}

#home {
  background-color: #8b53f1;
  color: rgb(0, 0, 0)
}

#Games {
  background-color: #8b53f1;
  color: black
}

#Music {
  background-color: #8b53f1;
  color: black
}

#Art {
  background-color: #8b53f1;
  color: black
}

#Boardgames {
  background-color: #8b53f1;
  color: black
}

#Sounds {
  background-color: #8b53f1;
  color: black
}

#resume {
  background-color: #8b53f1;
  color: black
}

#Contact {
  background-color: #8b53f1;
  color: black
}

#Aboutme {
  background-color: #8b53f1;
  color: black
}

.Bready {
  height: 500px;
  width: 700px;
  Float: Left
}

.Bread {
  text-align: center;
  height: 10%;
  width: 20%;
  margin-left: 40%;
  margin-right: 40%
}

.Breadous {
  height: 500px;
  width: 700px;
  Float: right
}

.Breadious {
  float: right;
  height: 600px;
  width: 800px;
}

.Breadan {
  Float: left;
  height: 600px;
  width: 800px;
}

.home {
  Height: auto;
  Width: 100%
}

.game {
  Height: auto;
  width: 50%
}

.audio {
  Height: auto;
  width: 100%
}

.Art {
  Height: Auto;
  width: 100%
}

.resume {
  height: auto;
  width: 100%
}

.Ap {
  height:auto;
  Width: 100%
}

